#ambiente virtuale 
Venv1/

#bytecode python
__pycache__/
*.pyc
*.pyo
*.pyd

#impostazioni di VS code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix
